@import "~bootstrap/scss/bootstrap.scss";

body{
display: flex; 
justify-content: center;
}
h1{ 
color: darkgrey;
font-family: Arial, Helvetica, sans-serif;
font-size: 80px;  
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-todo{ 
display: flex;
flex-direction: row;
justify-content: space-around;
min-width: 400px;
}
.lista{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


